<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 引入element-ui樣式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div id="app">
        <el-container class="content">
            <el-aside class="aside">
                <br />
                <el-row :gutter="10" type="flex">
                    <el-col :span="10">
                        <el-button type="primary" @click="GetData">獲取資料(初始化)</el-button>
                    </el-col>
                    <el-col :span="10">
                        <el-button type="primary" @click="ShowDiaLog">彈出視窗</el-button>
                    </el-col>
                    <el-select size="mini" type="text" v-model="Language"  placeholder="language" @change="changeLanguage" >
                        <el-option value="en" name="english"></el-option>
                        <el-option value="tw" name="繁體中文"></el-option>
                        <el-option value="cn" name="簡体中文"></el-option>
                        <el-option value="jp" name="日本語"></el-option>
                    </el-select>
                </el-row>
                <br />
            </el-aside>

            <el-main class="main">
                <!-- 呼叫menus組件 -->
                <menu-component  v-bind:output-data="outputData"  :paren-msg="parenMsg" :show-data="showdata" @update="updateInfo">

                </menu-component>

                <script type="text/x-template" id="menuComponent"></script>
            </el-main>
            <el-main class="botton">
                修改新增
                <br />
                <label>{{$t("main.userid")}}</label>
                <el-input size="mini" maxlength="5" v-model="modifyValue.UserId"></el-input>
                <br />
                <label>{{$t("main.searchUserId")}}{{modifyValue.UserId}}</label>
                <br />
                <label>{{$t("main.id")}}</label>
                <el-input size="mini" maxlength="5" v-model="modifyValue.Id"></el-input>
                <br />
                <label>{{$t("main.searchId")}}:{{modifyValue.Id}}</label>
                <br />
                <label>{{$t("main.title")}}</label>
                <el-input size="mini" v-model="modifyValue.Title"></el-input>
                <br />
                <label>{{$t("main.searchtitle")}}:{{modifyValue.Title}}</label>
                <br />
                <label>body輸入</label>
                <el-input size="mini" v-model="modifyValue.Body"></el-input>
                <br />
                <label>你輸入的body是:{{modifyValue.Body}}</label>
                <br />
                <el-button type="primary" @click="AddData">新增資料</el-button>
                <el-button type="primary" @click="DeleteSingleData">刪除特定資料</el-button>
            </el-main>
        </el-container>
        <section >
            <!-- 輸出資料區 -->
            <div v-bind="outputData" v-for="(item,index) in outputData">
                {
                <br />
                "userId":{{item.userId}},
                <br />
                "id":{{item.id}},
                <br />
                "title":{{item.title}},
                <br />
                "body":{{item.body}},
                <br />
                },
                <br />
                <el-button type="primary" @click="DeleteData(item.id)">刪除資料</el-button>
                <br />
            </div>

            <!-- <div v-bind="update" v-for="(item,index) in update">
                {
                <br />
                "userId":{{item.userId}},
                <br />
                "id":{{item.id}},
                <br />
                "title":{{item.title}},
                <br />
                "body":{{item.body}},
                <br />
                },
                <br />
                <el-button type="primary" @click="DeleteData(item.id)">刪除資料</el-button>
                <br />
            </div> -->
        </section>
        <!-- 跳出視窗 -->
        <el-dialog title="Menu" :visible.sync="dialogVisible" @close="" class="MenuDialog">
            <!-- 呼叫menu組件 -->
            <menu-component  :output-data="outputData" :paren-msg="parenMsg" :show-data="showdata" @update="updateInfo">

            </menu-component>
            <div v-bind="update" v-for="item in update">
                <el-descriptions  :column="4" border>
                    <el-descriptions-item label="userId">{{item.userId}}</el-descriptions-item>
                    <el-descriptions-item label="id">{{item.id}}</el-descriptions-item>
                    <el-descriptions-item label="title">
                        <!-- <el-tag size="small">{{item.title}}</el-tag> -->
                    </el-descriptions-item>
                    <el-descriptions-item label="body">
                        <!-- <el-tag size="small">{{item.body}}</el-tag> -->
                    </el-descriptions-item>
                </el-descriptions>
                <el-button type="primary" @click="DeleteData(item.id)">刪除資料</el-button>
                <el-button type="primary" @click="pushToTable(item)">送出到MainTable</el-button>
                <br />
            </div>
            <el-button @click="dialogVisible = false">關閉</el-button>
        </el-dialog>
    </div>
    <!-- Html module 的方式引入，某些瀏覽器可能不支援 -->
<script type="module" src="./Component/App.js"></script>
<script src="https://unpkg.com/vue-i18n@8"></script>
</body>
<!-- 引入vue -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.13/vue.js"
    integrity="sha512-DVdnL1SgeU//B2dtynn5ZdVMkjW/i/cCZRgkaAAl1sQVNVqtMi54Fr6o2tFo7M+3GWGX6VLLhNRRg9oKlMSGBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- vuex引入 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuex/3.6.2/vuex.js"
    integrity="sha512-i48GtNrU5tVNKFkvIT3nArzgcIYGLxb0t6Ok+yu6yybHksvifmC+mmT2c3II7PZgUsA5sFnxROrkeM5Yt46g3A=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- 引入element-ui组件庫 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>


</body>

</html>